{{>layouts/header}}

<style>
    /*.post-preview {*/
    /*    width: 700px;*/
    /*}*/

    /*.post-preview-hr {*/
    /*    width: 700px;*/
    /*}*/
</style>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg-2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="min-width: 800px; min-height: 230px;">
                <div class="site-heading" style="margin-top: 45px;">
                    <h1 style="font-wdight: bold;">Building Excellence</h1>
                    <span class="subheading" style="margin-top: 15px;">Welkom bij JE BOUW & SERVICE.</span>
                    <span class="subheading">Verken onze site om meer te ontdekken over onze projecten!</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center" style="width: 1250px; margin-left: -10%;">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="about">
                    <h2 class="post-title">Wij zijn een gerenommeerd bouwbedrijf gevestigd in Groningen, Nederland.</h2>
                    <h3 class="post-subtitle">Wij beschikken over een team van hoogopgeleide professionals met uiteenlopende expertises.</h3>
                </a>
                <p class="post-meta">About us: <a href="about">Click Here</a></p>
            </div>
            <!-- Divider-->
            <!-- ====================================================== -->
            <hr class="my-4 post-preview-hr" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="work">
                    <h2 class="post-title">Wij beschikken over ruime bouwervaring.</h2>
                    <h3 class="post-subtitle">Dit omvat huizen, daken, overkapping, tuinen en trappen.</h3>
                </a>
                <p class="post-meta">Our work: <a href="work">Click Here</a></p>
            </div>
            <!-- Divider-->
            <hr class="my-4 post-preview-hr"  />
            <!-- ====================================================== -->
            <!-- Post preview-->
            <div class="post-preview" style="margin-bottom: 50px;">
                <a href="contact">
                    <h2 class="post-title">Neem dan gerust contact met ons op.</h2>
                    <h3 class="post-subtitle">Wij verzekeren u van een snelle reactie.</h3>
                </a>
                <p class="post-meta">How to contact: <a href="contact">Click Here</a></p>
            </div>
            <!-- Divider-->
            <!-- ====================================================== -->
        </div>
    </div>
</div>

{{>layouts/footer}}