{{>layouts/header}}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/contact-bg-2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Us</h1>
                    <span class="subheading">Neem gerust contact met ons op wanneer</span>
                    <span class="subheading">het u uitkomt!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Neem gerust contact met mij op wanneer het u uitkomt. Ik ben altijd hier om te reageren met een vriendelijke, snelle aanraking. Ik kijk er naar uit om binnenkort van je te horen!</p>
                <div class="my-5">
                    <table class="table" style="color: #6c757d;">
                      <tbody>
                        <tr>
                          <th scope="row">E-mailadres</th>
                          <td>jebouwservice@gmail.com</td>
                        </tr>
                        <tr>
                          <th scope="row">Telefoonnummer</th>
                          <td>+31 64 4758647</td>
                        </tr>
                        <tr>
                          <th scope="row">WhatsApp</th>
                          <td>+31 64 4758647 / Joel Denninger</td>
                        </tr>
                        <tr>
                          <th scope="row">Instagram</th>
                          <td>@construction_groningen</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

{{>layouts/footer}}